
{% extends 'base.html' %}

{% block content %}
{% load static %}


<div class="landing">


  <div>
    
    <p> Current User :   {{user.username}} </p>
    
    
    <p> Post Aurthor  :   {{post.aurthor.username}} </p>
    </div>
    
  <h2> <a href="{% url 'Blogdetail' post.pk   %}" >{{post.title}}</a> </h2>
  
 
  <h3>  {{post.aurthor}}</h3>    <h3>  {{post.aurthor.id}}</h3> {{user.id}}
  
  <p> {{post.body}}</p> 



  <br>

  <h2> Comment ...</h2>
{% if not post.comments.all %}
    <strong>no comment yet</strong>


{% else %}
<div>
  {% for comment in post.comments.all %}

    <div>
      <strong>
        {{comment.name}}
        {{comment.date_added}}
      </strong>
    </div>

    <div>
      {{comment.body}}  
    </div>


    <br>
    
    
  {% endfor %}
</div>
[]

{% endif %}

<br>


{% if user.is_authenticated %}
  {% if user.id == post.aurthor.id %}
        <div> 
          <a class="btn btn-primary" href="{% url 'updatetview' post.pk   %}">edit</a>
                  
          <a class="btn btn-danger" href="{% url 'deletepost' post.pk   %}">delete</a>
          <small> {{post.post_date}}</small>
        </div>
  {% endif %}

{% else%}  
we will still fix comment


{%  endif %}
  



<a href="{% url 'add_comment' post.pk  %}"> sun</a>

{% endblock content %}