
{% extends 'base.html' %}

{% block content %}
{% load static %}


<div class="landing">
  <h2> <a href="{% url 'Blogdetail' post.pk   %}" >{{post.title}}</a> </h2>
  
 
  <h3>  {{post.aurthor}}</h3>    <h3>  {{post.aurthor.id}}</h3> {{user.id}}
  
  <p> {{post.body}}</p>
  
{% if user.is_authenticated %}
  {% if user.id == post.aurthor.id %}
        <div> 
          <a class="btn btn-primary" href="{% url 'updatetview' post.pk   %}">edit</a>
                  
          <a class="btn btn-danger" href="{% url 'deletepost' post.pk   %}">delete</a>
          <small> {{post.post_date}}</small>
        </div>
  {% endif %}

{% else%}  
we will still fix comment


{%  endif %}
  



</div>


{% endblock content %}