{% extends 'base.html' %}
{% block content %}
{% load static %}


<h1>edit</h1>

{{ user.id}}  {{post.aurthor.id}}

{% if user.is_authenticated %}
    {% if user.id == post.aurthor.id %}

        <form action="" method="post">
            {% csrf_token %}

            {{form.as_p}}
            dkfjdkfjk

            <input type="submit" value="siii">
        </form>


        {% else%}  

        <p>you are not the write of the post</p>

    
    {% endif%}

{% else%}  
<h1>pls Go and login </h1>
{%  endif %}



{% endblock content %}